<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мои пароли</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Привет, {{ username }}</h1>
<a href="/logout">Выйти</a>

<h2>Мои записи</h2>

{% if records %}
    <table border="1">
        <tr>
            <th>Название</th>
            <th>Логин</th>
            <th>Пароль</th>
            <th>URL</th>
        </tr>
        {% for r in records %}
        <tr>
            <td>
  <a href="/passwords/{{ r.id }}">{{ r.title }}</a>
</td>
            <td>{{ r.login }}</td>
            <td>•••••••• (зашифровано)</td>
            <td>{% if r.url %}<a href="{{ r.url }}">{{ r.url }}</a>{% endif %}</td>
            <td><a href="/passwords/{{ r.id }}/edit">Редактировать</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>У вас пока нет сохранённых паролей.</p>
{% endif %}

<!-- Ссылки на создание/редактирование можно добавить позже -->
<p style="text-align: center; margin-top: 25px; font-size: 1.1rem;">
    <a href="/passwords/add" class="add-button">+ Добавить новую запись</a>
</p>

</body>
</html>